/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-cyrillic_latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-500 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-cyrillic_latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-600 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-cyrillic_latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* inter-700 - cyrillic_latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v18-cyrillic_latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* schoolbell-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/schoolbell-v18-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* GLOBAL */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  transition: all 0.4s linear;
}

html {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
}

body {
  font-family: "Inter", sans-serif;
  color: #696969;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 25.6px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1b5bb;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #043e51;
}

/* ::-webkit-scrollbar-thumb:active {
  background: #333;
} */
/* CONTAINER */
.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 3rem;
}

.container-2 {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 3rem;
}

/* MAIN */
.main {
  flex-grow: 1;
}

.hero {
  background-color: #043e51;
  padding-top: 4.5rem;
}
.hero .header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.hero .header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .header__container .sitenav__list {
  display: flex;
  gap: 5rem;
}
.hero .header__container .active:first-child {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-decoration-color: #a1b5bb;
  text-underline-offset: 0.45rem;
}
.hero .header__container .sitenav__link {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 21.78px;
  color: #a1b5bb;
}
.hero .header__container .header__btn {
  padding: 1.5rem 3.5rem;
  background-color: #145e76;
  font-size: 1.8rem;
  color: white;
  border-radius: 25px;
  line-height: 28.8px;
  font-weight: 700;
}
.hero .header__container .header__toggle-btn {
  color: #fff;
  font-size: 3.8rem;
  cursor: pointer;
  display: none;
}
.hero .header__container .btn-hidden {
  display: none;
}
@media (max-width: 1200px) {
  .hero .hero__container {
    gap: 2.5rem;
  }
  .hero .hero__container .hero__left {
    max-width: 500px;
  }
  .hero .hero__container .hero__left .hero__main-btn {
    margin-bottom: 3rem;
  }
  .hero .hero__container .hero__left .hero__heading {
    line-height: 55px;
    margin-bottom: 2rem;
    font-size: 5rem;
  }
  .hero .hero__container .hero__left .hero__description {
    margin-bottom: 3rem;
  }
}
@media (max-width: 992px) {
  .hero .container {
    padding: 0 1.5rem;
  }
  .hero .container .hero__left .hero__heading {
    font-size: 4rem;
  }
  .hero .container .hero__right .hero__image img {
    width: 450px;
    height: 600px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 860px) {
  .hero .header__container .sitenav__list {
    gap: 3rem;
  }
}
@media (max-width: 768px) {
  .hero .header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero .header__btn {
    display: none;
  }
}
@media (max-width: 576px) {
  .hero .header__container .sitenav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    z-index: 100;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .hero .header__container .sitenav.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .hero .header__container .sitenav__list {
    text-align: center;
    padding: 4.8rem 2.4rem;
    flex-direction: column;
    gap: 3.2rem;
    background: rgb(29, 28, 30);
  }
  .hero .header__container .sitenav__list .btn-hidden {
    display: block;
  }
  .hero .header__container .sitenav__list .header__btn-hidden {
    padding: 1.2rem 3rem;
    background-color: #145e76;
    font-size: 1.7rem;
    color: white;
    border-radius: 25px;
    line-height: 28px;
    font-weight: 700;
  }
  .hero .header__container .sitenav__link {
    color: #fff;
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 2px;
  }
  .hero .header__container .header__toggle-btn {
    display: block;
  }
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3rem;
  padding-bottom: 28rem;
}
.hero__container .hero__left {
  max-width: 539px;
}
.hero__container .hero__left .hero__main-btn {
  font-family: "Schoolbell", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 33.42px;
  text-align: left;
  background: #094556;
  color: #fff;
  padding: 1.6rem 3rem;
  border-radius: 30px;
  margin-bottom: 4rem;
}
.hero__container .hero__left .hero__heading {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 3rem;
}
.hero__container .hero__left .hero__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 5rem;
}
.hero__container .hero__left .hero__btn-1, .hero__container .hero__left .hero__btn-2 {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 28.8px;
  color: white;
  background-color: #ffa63a;
  padding: 1.6rem 3.5rem;
  border-radius: 25px;
}
.hero__container .hero__left .hero__btn-2 {
  background: transparent;
  color: #b6cdd4;
}
.hero__container .hero__right {
  position: relative;
}
.hero__container .hero__image-box {
  width: 63%;
  border: 3px solid rgba(255, 255, 255, 0.5019607843);
  border-radius: 20px;
  padding: 1.5rem 2.5rem;
  position: absolute;
  background: rgba(255, 255, 243, 0.41);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  left: 67%;
  top: 22%;
}
.hero__container .hero__image-box .hero__desc {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 22.4px;
  text-align: left;
  color: #fff;
  margin-bottom: 1.5rem;
}
.hero__container .hero__image-box .hero__flex {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.hero__container .hero__image-box .hero__content {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 22.4px;
  color: #fff;
  letter-spacing: 0.05em;
}
.hero__container .hero__image-box .hero__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 22.4px;
  color: #a1b5bb;
}

@media (max-width: 1530px) {
  .hero__right {
    position: static;
  }
  .hero__image-box {
    display: none;
  }
}
@media (max-width: 844px) {
  .hero {
    padding-top: 0;
  }
  .hero .header {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .hero .hero__container {
    display: flex;
    flex-direction: column;
  }
  .hero .hero__container .hero__left {
    text-align: center;
    max-width: 100%;
  }
  .hero .hero__container .hero__left .hero__main-btn {
    text-align: right;
  }
}
@media (max-width: 576px) {
  .hero .hero__container .hero__left {
    text-align: left;
  }
  .hero .hero__container .hero__left .hero__heading {
    font-size: 3.2rem;
    line-height: 48px;
  }
}/*# sourceMappingURL=main.css.map */