.hero {
  background-image: url("../images/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .header {
    width: 100%;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .sitenav__list {
      display: flex;
      gap: 5rem;
    }
    .active {
      text-decoration: underline;
      text-decoration-thickness: 1.5px;
      text-decoration-color: #a1b5bb;
      text-underline-offset: 0.6rem;
    }
    .sitenav__link {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 21.78px;
      color: #a1b5bb;
    }

    .header__btn {
      padding: 1.5rem 3.5rem;
      background-color: #145e76;
      font-size: 1.8rem;
      color: white;
      border-radius: 25px;
      line-height: 28.8px;
      font-weight: 700;
    }
  }
}
